/OnlineLearningPlatform/learningplatformfrontend/node_modules
/OnlineLearningPlatform/learningplatformbackend/node_modules

OnlineLearningPlatform/learningplatformbackend/node_modules
OnlineLearningPlatform/learningplatformfrontend/node_modules